/* ===== Corpo do Pagina ===== */
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
  color: #333;
}

/* ===== Cabecalho ===== */
header {
  background: linear-gradient(90deg, #f7931e, #ffb347);
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  padding: 0 20px;
}

/* ===== Texto do cabecalho(formato e cor) ===== */
header .head-text {
  text-align: center;
  color: white;
}

/* ===== Texto do cabecalho(Texto principal) ===== */
header .head-text h1 {
   margin: 0; 
   font-size: 34px; 
}

/* ===== Texto do cabecalho(Texto subtitulo) ===== */
header .head-text p { 
  margin: 4px 0 0; 
  font-size: 22px;
}

/* ===== Formulario ===== */
form {
  background:#fff;
  padding:28px;
  border-radius:10px;
  max-width:600px;
  margin: 24px auto;
  text-align:left;
  box-shadow:0 3px 8px rgba(0,0,0,0.06);
  margin-top:38px;
}

/* ===== As caracteristicas do formulario ===== */
select{
  width:97%; 
  padding:10px; 
  margin-top:6px;
  border-radius:6px; 
  border:1px solid #ccc;
}

/* ===== Botao de procurar ===== */
button[type="submit"] {
  background:#f7931e;
  color:#fff;
  border:none;
  padding:12px 18px;
  border-radius:6px;
  cursor:pointer;
  margin-top:18px;
}

/* ===== Açao do botao na hora de enviar===== */
button[type="submit"]:hover {
  background:#c7711b;
}

/* ===== Botão de voltar ===== */
#btnVoltar {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background: #f7931e;
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 40px;
  border-radius: 6px;
  text-decoration: none;  
  display: inline-block;   
}