/* ===== Corpo do Pagina ===== */
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
  color: #333;
}

/* ===== Titulo da pagina ===== */
h2{
  text-align: center;
}

/* ===== Formulario ===== */
form {
  background:#fff;
  padding:28px;
  border-radius:10px;
  max-width:600px;
  margin: 24px auto;
  text-align:left;
  box-shadow:0 3px 8px rgba(0,0,0,0.06);
}

/* ===== As informçoes do formulario  ===== */
label { 
  display:block; 
  margin-top:12px; 
  font-weight:600; 
}

/* ===== As caracteristicas do formulario ===== */
input, select {
  width:100%; 
  padding:10px; 
  margin-top:6px;
  border-radius:6px; 
  border:1px solid #ccc;
}

/* ===== Botao criar ===== */
button[id="Criar"]{
   background:#f7931e;
  color:#ffffff;
  border:none;
  padding:12px 18px;
  border-radius:6px;
  cursor:pointer;
  margin-top:16px;
}

/* ===== Acao do botao criar===== */
button:hover[id="Criar"]{
  background: #c7711b;
}

/* ===== Botao voltar ===== */
.voltar {
    display: inline-block;
    background:#f7931e;
    color: white;
    padding: 15px 15px;
    font-size: 40px;
    font-weight: 505;
    text-decoration: 40px;
    border-radius: 10px;
    border: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin: 25px;   
}

/* ===== Acao do botao voltar ===== */
.voltar:hover {
    background: #c7711b;
}
